<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stevelacy.codeandbeats" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Code And Beats</name>
    <description>
        Motion to data
    </description>
    <author email="contact@wearefractal.com" href="http://wearefractal.com">
        Fractal
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.4.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.network-information" />

    <icon src="www/icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />

    <icon gap:platform="ios" height="40" src="res/icon/ios/icon-40.png" width="40" />
    <icon gap:platform="ios" height="60" src="res/icon/ios/icon-60.png" width="60" />
    <icon gap:platform="ios" height="76" src="res/icon/ios/icon-76.png" width="76" />
    <icon gap:platform="ios" height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/icon-60@2x.png" width="120" />

    <access origin="*" />
</widget>
