
html, body
  margin 0
  padding 0
  min-height 100%
  overflow hidden
body
  width 100%
  background #efefef
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  font-family "Hero-Light"

// Classes
@import "./includes/colors"
@import "./includes/font-hero"
@import "./includes/border-box"
@import "./includes/trans-all"

// Elements
@import "./includes/header"
@import "./includes/content"
@import "./includes/graph"
@import "./includes/message"
